<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Wilson Gramer’s Blog</title>

    <!-- Local styles -->
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/prism.css">

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro:200,200i,600,600i|Fira+Code:200&display=swap">
</head>

<body>
    <div class="navbar">
        <a href="/">Wilson Gramer’s Blog</a>
    </div>

    <div class="post">
        <h1 class="title">{{ title }}</h1>
        <p class="post-date">{{ postDate }}</p>

        <div class="content">
            {{{ markdownHTML }}}
        </div>
    </div>

    <div class="back-to-top">
        <a href="#">Back to top &uarr;</a>
    </div>
</body>
</html>
