<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Wilson Gramer’s Blog</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="og:title" property="og:title" content="{{ title }} - Wilson Gramer’s Blog">
    <meta name="robots" content="index, follow">

    <!-- Local styles -->
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/prism.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro:200,200i,600,600i&display=swap">
</head>

<body>
    <div class="navbar">
        <a href="/">Wilson Gramer’s Blog</a>
    </div>

    <div class="post">
        <h1 class="title">{{ title }}</h1>
        <p class="post-date">{{ postDate }}</p>

        <div class="content">
            {{{ markdownHTML }}}
        </div>
    </div>

    <div class="back-to-top">
        <a href="#">Back to top &uarr;</a>
    </div>
</body>
</html>
